@import "bootstrap/bootstrap.less";
@import "../datatables/css/jquery.dataTables.css";
@import "../js/plugins/chosen/chosen.min.css";


@color1: #d8225e; // links / primary
@color2: #339ce1;
@color3: #fff;
@color4: rgba(31,31,31,0.10);
@color5: #365172; // sidebar

@brand-primary:         #3290e1;

@btn-default-color:              #fff;
@btn-default-bg:                 #8091A5;
@btn-default-border:             #8091A5; 

@navbar-height:                    32px;
@navbar-default-color:             #fff;
@navbar-default-bg:                #454e58;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #eee;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #eee;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Tables
@table-bg-accent:                    #f5f5f6; // for striping
@table-bg-hover:                     rgba(69,78,88,0.02);
@table-bg-active:                    @table-bg-hover;

@table-border-color:                 #ddd; // table and cell border

table.dataTable tr.odd { background-color: #f5f5f6); }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }

.fade {
  .transition(opacity .05s linear);
}

/* ==========================================================================
   Base
   ========================================================================== */

html {
	height: 100%;
}
body {
	background: @color3;
	color: #8091A5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 12px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	min-height: 100%;
	position: inherit;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto";
}

h1, .h1 {
	font-size: 26px;
}

a {
	color: darken(#8091A5,10%);
}

input[type="submit"],
button[type="submit"] {
	.btn();
	.btn-default();
}

.btn {

	// Slight fade when user hovers over buttons
	-webkit-transition: background-color 0.5s ease-out;
	   -moz-transition: background-color 0.5s ease-out;
	     -o-transition: background-color 0.5s ease-out;
	        transition: background-color 0.5s ease-out;

}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.site-title {
	font-family: "Roboto";
	font-size: 14px;
	margin: 0 0 8px;
}

.navbar {
	
	.btn {
		border-radius: 0;
		
		&.btn-primary {
			
			&:hover {
				background: darken(@brand-primary,20%);
				color: #fff;
			}
		}
	}
}


/* ==========================================================================
   Content
   ========================================================================== */

.site-main {
	padding: 15px;
}

.site-content {
	position: absolute;
	top: 32px;
	bottom: 0;
	margin: 0;
	right: 0;
	z-index: 501;
	width: 100%;
	z-index: 10;

	.content-area {
		height: 100%;
		margin-left: 285px;
	}

}

table.dataTable tr.odd td.sorting_1 { background-color: darken( @color3, 6% ); }
table.dataTable tr.odd td.sorting_2 { background-color: darken( @color3, 5% ); }
table.dataTable tr.odd td.sorting_3 { background-color: darken( @color3, 4% ); }
table.dataTable tr.even td.sorting_1 { background-color: darken( @color3, 3% ); }
table.dataTable tr.even td.sorting_2 { background-color: darken( @color3, 2% ); }
table.dataTable tr.even td.sorting_3 { background-color: darken( @color3, 1% )F; }


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
	height: 100%;
}

.page-header {
	border-color: @color4;
	margin-top: 0;

	.page-title {
		margin: 0;
	}
}

.entry-title {
	margin-top: 0;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

#secondary {
	top: 32px;
	left: 0;
	font-weight: 300;
	background: rgba(69, 78, 88,0.05);
	border-right: 1px solid rgba(69, 78, 88,0.1);
	bottom: 0;
	padding: 20px 0;
	position: fixed;
	width: 285px;
	z-index: 99;

	a {
		text-decoration: underline;
		

		&:active {
			opacity: 0.5;
		}
		&:hover {
			color: #d8225e;
			text-decoration: none;
		}
	}

	.current_page_item {

		a {
			background: #4F76A5;
			color: white;
		}
	}

	hr {
		height: 0;
		border: 0;
		margin: 5px 12px;
		background: none;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		border-bottom: 1px solid rgba(255, 255, 255, 0.03);
	}

	.search-query {
		background: rgba(0, 0, 0, 0.05);
		border-color: rgba(0, 0, 0, 0.15);
		color: #fff;
		display: block;
		font-size: 12px;
		padding: 4px 10px;
		margin: 0 auto 10px;
		width: 81%;
	}

	.widget {
		margin: 0 0 20px;
		
		.widget-title {
			font-size: 14px;
			font-weight: 400;
			margin: 0 0 5px;
			padding: 0 15px;
		}

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			> li {
				
				> a {
					display: block;
					padding: 4px 15px;
				}
			}
		}
		
		&.widget_search {
			padding: 0 15px;
			
			.search-submit {
				.btn-xs();
				.btn-default();
			}
		}
		
		&.widget_calendar {
			padding: 0 15px;
			
			.widget_calendar {float: left;}
			#wp-calendar {width: 100%; }
			#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
			#wp-calendar thead { font-size: 10px; }
			#wp-calendar thead th { padding-bottom: 10px; }
			#wp-calendar tbody { color: #aaa; }
			#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
			#wp-calendar tbody td:hover { background: #fff; }
			#wp-calendar tbody .pad { background: none; }
			#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
			#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
		}
		
		&.widget_recent_comments {
			
			li {
				padding: 0 15px;
			}
		}
	}

	form.nervetask-new-task {
		padding: 0 8px;

		label {
			display: none;
		}

		.control-input {
			width: 99%;

			.form-control {
				background: rgba(255,255,255,.05);
				border-color: rgba(255,255,255,.1);
				.border-top-radius(0);
				.border-right-radius(0);
				.border-bottom-radius(0);
				.border-left-radius(0);
				font-size: 12px;
				padding: 4px 6px;

				&:active,
				&:focus {
					background: rgba(255,255,255,.85);
					border-color: rgba(255,255,255,.95);
				}
			}
		}

		.btn[type="submit"] {
			.btn();
			.btn-xs();
			.btn-primary();
			float: right;
		}
	}
}

#create-new-task-container {
	overflow: hidden;
	padding: 6px 0;

	form {
		margin: 0 0 5px;

		.form-group {
			margin: 0;
			padding: 0;
		}

		button[type="submit"] {
			display: none;
		}

		.control-label {
			display: none;
		}

		.control-input {
			margin: 0;
			padding: 0;
			width: 99%;

			input[type="text"] {
				background: rgba(0,0,0,.2);
				border: none;
				box-shadow: 1px 1px 3px rgba(0,0,0,.2) inset;
				color: #fff;
			}
		}
	}

	.new-task-list {

		a {
			color: #fff;
			border: 1px solid rgba(255,255,255,.2);
			.border-top-radius(0);
			.border-right-radius(0);
			.border-bottom-radius(0);
			.border-left-radius(0);
			padding: 3px 8px;
		}
	}

	.toggole-new-task-container {
		display: block;
	}
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



.single-nervetask {

	.site-main {
		overflow: hidden;
		padding: 0;

		.nervetask {
			border-right: 1px solid rgba(69, 78, 88,0.1);
			padding: 0;
			overflow: hidden;

			header {
				border-bottom: 1px solid rgba(69,78,88,0.1);
				padding: 12px 20px 11px;

				.post-id {
					background: rgba(128, 145, 165, 0.5);
					-moz-border-radius: 4px;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					color: white;
					float: left;
					font-size: 20px;
					line-height: 42px;
					margin-right: 10px;
					opacity: 0.6;
					padding: 0 15px;
					text-decoration: none;
				}

				h1 {
					font-size: 26px;
					line-height: 42px;
					margin: 0;
				}
			}

			.edit-task {
				float: right;
				font-size: 11px;
				margin: -41px -40px 0;
				padding: 3px 8px;
			}

			.entry-content {
				background: white;
				border-bottom: 1px solid #eee;
				-moz-border-radius: 0 0 4px 4px;
				-webkit-border-radius: 0 0 4px 4px;
				border-radius: 0 0 4px 4px;
				font-size: 16px;
				line-height: 20px;
				padding: 40px;
			}

		}
		.entry-meta {
			padding: 0;

			.task-meta {
				margin: 0;
				padding: 0;

				> li {
					border-bottom: 1px dotted rgba(69, 78, 88,0.1);
					//border-bottom: 1px dotted #8091A5;
					padding: 20px;
				}

				li {
					strong {
						font-size: 18px;
						font-weight: 700;
					}
				}
				
				.nervetask-status {
					color: rgba(255,255,255,.75);
					
					a {
						color: rgba(255,255,255,1);
					}
					
					select,
					.chosen-container-single .chosen-single {
						color: #444;
					}
				}
				.control-input {
					margin-left: 30px;

					.btn {
						.btn-xs();
						.btn-default();
					}
				}

				.email-subscribe {

					.email-add-subscriber-title {
						font-size: 18px;
						font-weight: 700;
					}

					.control-label {
						display: none;
					}

					.control-input {
						margin: 0;
					}

					#email-subscriber-address {
						.input-sm();
					}
				}
			}
		}
	}
}

.alert-login-required {
	display: none;
}

/* ==========================================================================
   Comments
   ========================================================================== */
.comments-title,
.comment-reply-title{
	display: none;
}

.comment-list {
	margin: 0;
	padding: 0;
}
.comment,
.status {

	border-bottom: 1px dotted #ccc;
	list-style: none;
	margin: 0;

	.comment-meta {
		color: #999;
		float: right;
		font-size: 11px;
		margin: 0;
		overflow: hidden;
		text-align: right;
		
		a {
			border-bottom: 1px dotted #999;
			color: #999;
			text-decoration: none;
		}
	}

	.comment-text {
		overflow: hidden;
	}

	img {
		max-width: 100%;
		height: auto;
	}

}

.comment {
	background: #fff;
	font-size: 14px;
	padding: 10px 10px 0;
	
	.comment-content {
		overflow: hidden;
	}

	.avatar {
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		float: left;
		height: 20px;
		margin: 0 5px 0 0;
		width: 20px;
	}
	.comment {
		border-bottom: none;
		border-left: 1px dotted #ccc;
		border-top: 1px dotted #ccc;
		padding-right: 0;
	}

	.comment-text {
		clear: both;
		padding: 12px 0 0;
	}

}

.status {
	color: #999;
	overflow: hidden;
	padding: 5px 10px;

	.comment-body {
		color: #999;
		display: inline;
		font-size: 11px;
		
		.comment-author,
		.comment-text {
			display: inline;
			
			p {
				display: inline;
			}
		}
	}

	a {
		border-bottom: 1px dotted #999;
		color: #999;
		text-decoration: none;
	}
}

.comment-respond {
	padding: 8px 8px 0;

	.comment-form-comment {

		label {
			display: block;
		}

		textarea {
			border: 1px solid #eee;
			width: 99%;
		}
	}
}

.cancel-comment-reply {

	#cancel-comment-reply-link {
		background: blanchedalmond;
		display: block;
		padding: 8px;
	}
}


/* ==========================================================================
   Accessibility
   ========================================================================== */
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* ==========================================================================
   Alignments
   ========================================================================== */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
figure.alignnone {
	margin-left: 0;
	margin-right: 0;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	position: fixed;
	bottom: 0;
	background: darken( @color4, 2% );
	font-size: 10px;
	padding: 3px;
	width: 100%;
	z-index: 10;
	color: #8091A5;
	text-align: right;

	p {
		margin: 0;
	}

	a {
		color: #8091A5;
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
